:root {
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --primary: #00494d;
  --darkPrimary: #00494d;
  --darkGrayPrimary: #5e7a7d;
  --lightGrayCyan: #c5e4e7;
  --lighterGrayCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error: #c37760;
}
* {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 24px;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* TYPOGRAPHY  */
small {
  font-size: 0.5rem;
  color: hsl(172, 67%, 45%);
  margin-top: 5px;
}

h3 {
  margin: 0;
  font-size: 0.65rem;
}

p.error {
  font-size: 0.7rem;
  color: var(--error);
}

.hidden-h1 {
  color: white;
}

/* BUTTON + LABEL STYLING ====*/

button {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 6px;
  border: none;
  padding: 0.2em 0;
  font-size: 0.9rem;
  max-width: 350px;
}

button:active {
  background-color: var(--lightGrayCyan);
}

.selected {
  background-color: hsl(172, 67%, 45%);
  color: var(--darkPrimary);
  font-weight: 700;
}

input {
  background: var(--lighterGrayCyan);
  color: var(--primary);
  font-weight: 700;
  border: none;
  padding: 0.25em;
  text-align: right;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
}

label,
.label {
  font-size: 16px;
  font-weight: 700;
  color: var(--darkPrimary);
  margin-bottom: 0.5em;
}

/* Firefox Disablo Text Arrows on inpts*/
input[type="number"] {
  -moz-appearance: textfield;
}

/* CALCULATOR STYLING */

.container {
  background-color: var(--lightGrayCyan);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
}

.app-title {
  margin: 0 auto;
  letter-spacing: 0.5em;
  padding: 0.5em;
}

.calc {
  background: var(--white);
  color: var(--darkGrayPrimary);
  padding: 1em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1250px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .calc {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 60%;
    padding: 0.5em;
    gap: 1.5em;
    margin-bottom: 3em;
  }
  .inputs {
    padding: 1em;
    max-width: 50%;
  }
  .app-title {
    margin-bottom: 5%;
  }
}

.btn-container {
  background: var(--lighterGrayCyan);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container--focus {
  border: 2px solid var(--strongCyan);
}

.btn-container--error {
  border: 2px solid var(--error);
}

.btn-container__logo {
  margin-left: 0.5em;
}

.btn-container__input {
  text-align: right;
  max-width: 90%;
}

/* TIP BUTTON SECTION ===== */

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 1em 0;
}

.btn-grid__title {
  grid-column: 1/-1;
}

.btn-grid__btn {
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media (min-width: 1000px) {
  .btn-grid {
    grid-template-columns: repeat(3, minmax(80px, 1fr));
  }
}

/* NUMBER OF PEOPLE STYLING ============ */

.label-container {
  display: flex;
  justify-content: space-between;
}

/* DISPLAY STYLING =========  */

.display {
  background-color: var(--darkPrimary);
  padding: 1em;
  color: var(--white);
  margin-top: 1.2em;
  border-radius: 20px;
}

.display__container {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.display__text-container {
  display: flex;
  flex-direction: column;
}

.display__total {
  color: hsl(172, 67%, 45%);
  font-size: 1.25rem;
}

.display__resetBtn {
  background-color: hsl(172, 67%, 45%);
  padding: 0.25em 0.75em;
  width: 100%;
  color: var(--darkPrimary);
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 0.5em;
}

@media (min-width: 1250px) {
  .display {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    max-height: 375px;
  }
  .display__container {
    margin-top: 1em;
    display: flex;
    align-items: center;
  }
  .display__total {
    font-size: 1.6rem;
  }
  .display__resetBtn {
    margin: auto 0 0;
    align-self: center;
  }
}
